<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/3.0.24/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <meta name="description" content="Esafari">
    <meta name="keywords" content="Esafari">
    <meta property="og:image" content="https://genesistestimonyfoundation.org/assets/img/transp_logo.png">
    <meta name="theme-color" content="#2563eb">
    <title>Esafari | Home</title>
</head>

<body>


    <nav
        class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700 shadow-lg shadow-gray-50 sticky top-0 z-10">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="./" class="flex items-center space-x-3 rtl:space-x-reverse">

                <span class="hidden lg:block self-center text-md font-semibold whitespace-nowrap text-black">Esafari
                </span>
            </a>
            <button data-collapse-toggle="navbar-multi-level" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-multi-level" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-multi-level">
                <ul
                    class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="./"
                            class="block py-2 px-3 text-xs text-black sm:text-black lg:text-black  bg-emerald-600 rounded md:bg-transparent md:text-emerald-600 md:p-0 md:dark:text-emerald-500 dark:bg-emerald-600 md:dark:bg-transparent"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#about"
                            class="block py-2 px-3 text-xs text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-emerald-600 md:p-0  md:dark:hover:text-emerald-500 dark:hover:bg-gray-700  md:dark:hover:bg-transparent">About</a>
                    </li>
                    <li>
                        <a href=""
                            class="block py-2 px-3 text-xs text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-emerald-600 md:p-0  md:dark:hover:text-emerald-500 dark:hover:bg-gray-700  md:dark:hover:bg-transparent">Donate</a>
                    </li>
                    <li>
                        <a href="#footer"
                            class="block py-2 px-3 text-xs text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-emerald-600 md:p-0  md:dark:hover:text-emerald-500 dark:hover:bg-gray-700  md:dark:hover:bg-transparent">Contact</a>
                    </li>
                    <li>
                        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                            class="flex items-center justify-between w-full py-2 px-3 text-xs text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-emerald-600 md:p-0 md:w-auto  md:dark:hover:text-emerald-500  dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Projects
                            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 4 4 4-4" />
                            </svg></button>
                        <!-- Dropdown menu -->
                        <div id="dropdownNavbar"
                            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-2 text-xs text-gray-700 dark:text-gray-200"
                                aria-labelledby="dropdownLargeButton">
                                <li>
                                    <a href="./view-project/?id=Mw=="
                                        class="block px-4 py-2 text-xs hover:bg-gray-100 dark:hover:bg-gray-600 ">Women
                                        empowerment</a>
                                </li>
                                <li>
                                    <a href="./view-project/?id=NA=="
                                        class="block px-4 py-2 text-xs hover:bg-gray-100 dark:hover:bg-gray-600 ">Campaign
                                        and advocacy</a>
                                </li>
                            </ul>

                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <main
        class="w-full min-h-96 max-h-max h-screen bg-gradient-to-br from-white to bg-emerald-300 to-white  bg-center bg-cover bg-no-repeat text-center">
        <div
            class="w-full h-full bg-black/60 flex flex-col justify-center content-center text-center justify-items-center items-center">
            <p
                class="text-3xl sm:text-5xl md:text-5xl lg:text-5xl text-emerald-500 font-semibold mb-3 capitalize px-12">
                Redefining Urban Mobility. Fast, Clean and Accessible for all
            </p>
            <p class="text-md text-white font-medium w-10/12 sm:w-1/2 md:w-1/2 lg:w-1/2 text-center my-4">
                We are a beacon of hope and catalyst for positive change in the heart of West Africa. Our journey
                begins with a profound commitment to addressing the pressing needs of the underprivileged and
                vulnerable communities across Ghana.

            </p>

            <a href="#about"
                class="btn  mt-3 text-white bg-gradient-to-r hover:bg-gradient-to-l rounded-sm from-gray-400 via-gray-500 to-gray-600 w-max h-max py-4 px-12">About
                us</a>
        </div>
    </main>

    <section class="h-max w-full py-8" id="about">
        <div
            class="flex flex-col-reverse md:grid md:grid-cols-2  sm:grid sm:grid-cols-2  lg:grid lg:grid-cols-2  w-10/12 h-[60vh] gap-5 mx-auto mt-6">
            <div class="w-full h-full  p-3 flex flex-col content-center justify-center px-5">
                <h1 class="text-emerald-500 font-extrabold text-4xl ">Our Mission</h1>
                <div class="border-2 border-gray-800  w-10 my-3"></div>
                <p class="text-gray-700 mt-5 mb-8 ">
                    Esafari is a nonprofit organization dedicated to improving and empowering underserved communities,
                    supporting individuals with disabilities to live fulfilling, independent lives, and protecting the
                    environment. Our goal is to create sustainable solutions, promote development, and implement health
                    programs focusing on access to medical resources and education for underserved populations.
                </p>
                <a href="https://donate.stripe.com/cN2bJh0OD4UN6dyfYY"
                    class="btn  text-white bg-gradient-to-r hover:bg-gradient-to-l rounded-sm from-emerald-500 to-emerald-600 w-max h-max py-4 px-12">Donate</a>
            </div>
            <div
                class="w-full h-[0vh] sm:h-full lg:h-full md:h-full  bg-[url('../img/hands.jpg')] bg-cover bg-no-repeat bg-center">
            </div>
        </div>

        <div class="flex flex-col md:grid md:grid-cols-2 w-10/12 h-[120vh] md:h-[60vh] gap-5 mx-auto mt-24">
            <div class="w-full h-full  bg-[url('../img/group.jpg')] bg-cover bg-no-repeat bg-center">
            </div>
            <div class="w-full h-full  p-3 flex flex-col content-center justify-center px-5">
                <h1 class="text-black font-extrabold text-4xl ">The Need</h1>
                <div class="border-2 border-emerald-500  w-10 my-3"></div>
                <p class="text-gray-700 mt-5 mb-8 ">
                    Ghana, with its rich cultural tapestry and warm hospitality, is home to many individuals and
                    families facing formidable challenges. Poverty, lack of access to education, inadequate
                    healthcare, and social inequality are hurdles that hinder the progress of our fellow citizens.
                    Esafari Ghana seeks to bridge these gaps, offering a helping hand to those who need
                    it most.
                </p>
                <a href="https://donate.stripe.com/cN2bJh0OD4UN6dyfYY"
                    class="btn  text-white bg-gradient-to-r hover:bg-gradient-to-l rounded-sm from-black to-black/95 w-max h-max py-4 px-12">Donate</a>
            </div>

        </div>
    </section>

    <section class="h-max w-full py-8">
        <div class="flex flex-col md:grid md:grid-cols-2 w-full h-[100vh] md:h-[60vh] gap-5 mx-auto mt-6">
            <div class="w-full h-full bg-[url('../img/community.jpg')] bg-cover bg-no-repeat bg-center">
            </div>
            <div
                class="w-full h-full p-3 flex flex-col content-center items-center justify-center px-5 bg-gradient-to-br from-white via-gray-50 to-emerald-200">
                <h1 class="text-emerald-500 font-extrabold text-4xl ">Our Approach</h1>
                <div class="border-2 border-emerald-400 w-24 my-4"></div>
                <p class="text-gray-700 mt-5 mb-8 text-center">
                    Our Foundation is built on the principles of transparency, inclusivity, and accountability. We
                    believe in
                    working closely with local communities to identify their unique needs and co-create sustainable
                    solutions. Through strategic partnerships, advocacy, and hands-on initiatives, we aim to build a
                    brighter future for the people of Ghana.
                </p>
                <a href="https://donate.stripe.com/cN2bJh0OD4UN6dyfYY"
                    class="btn text-white bg-gradient-to-r hover:bg-gradient-to-l rounded-sm from-emerald-500 to-emerald-600 w-max h-max py-4 px-12">Donate</a>
            </div>
        </div>
    </section>

    <section class="w-full h-max  bg-[url('../img/joined-hands.jpg')] bg-cover bg-center bg-no-repeat">
        <div class="overlay w-full h-full bg-emerald-600/80 box-content  py-24 flex flex-col text-center justify-center content-center items-center "
            style="backdrop-filter: blur(5px);">
            <p class="text-3xl sm:text-6xl font-extrabold text-white tracking-wide">How you can get involved</p>
            <p class="text-white mt-8 mb-8 text-center w-11/12 md:w-10/12 text-sm md:text-lg">
                Esafari is not just an organization; it's a movement driven by the collective
                efforts of compassionate individuals, businesses, and institutions. You can join us in making a
                difference by volunteering your time, contributing resources, or supporting our fundraising
                campaigns. Together, we can create a ripple effect of positive change that transforms lives and
                communities.

            </p>
            <a href="https://donate.stripe.com/cN2bJh0OD4UN6dyfYY"
                class="btn  text-black bg-gradient-to-r hover:bg-gradient-to-l rounded-2xl from-white to-gray-50/95 w-max h-max py-6 px-12 font-medium">Get
                involved today</a>

        </div>
    </section>
    <section class="w-full h-max  bg-[url('../img/band-aid.jpg')] bg-cover bg-center bg-no-repeat">
        <div class="overlay w-full h-full bg-white/70 md:bg-white/60  box-content  py-24 flex flex-col text-center justify-center content-center items-center "
            style="backdrop-filter: blur(2px);">
            <div class="border-2 border-emerald-400  w-24  mb-4"></div>

            <p class="text-3xl md:text-4xl font-extrabold text-black tracking-wide md:w-8/12  "> Are you passionate
                about making a
                meaningful impact?
            </p>

            <p class="text-gray-900 mt-1 mb-8 text-center w-11/12 md:w-8/12 md:text-xl ">
                <br> Join us in our mission to empower Ghana. Whether you're an individual, corporate entity, or
                fellow Foundation, your collaboration is crucial in bringing about positive change. Together, we can
                create
                a more equitable and prosperous Ghana for all.
            </p>
            <a href="https://donate.stripe.com/cN2bJh0OD4UN6dyfYY"
                class="btn  text-white bg-gradient-to-r hover:bg-gradient-to-l rounded-2xl from-emerald-500 to-emerald-600 w-max h-max py-6 px-12 font-medium">Get
                involved today</a>

        </div>
    </section>

    <section class="w-full h-max md:h-max py-12 px-1 md:px-6">

        <p class="text-3xl font-extrabold text-black tracking-wide w-8/12 "> Our Goals
        </p>

        <div class="border-2 border-black  w-24  my-3"></div>

        <!-- Grid container -->

        <div class="grid-container h-auto md:h-[250vh] mt-10 w-full  grid grid-cols-1 md:grid-cols-3">
            <div class="w-full h-full bg-[url('../img/book.jpg')] bg-cover bg-center bg-no-repeat ">
                <div class="overlay w-full h-full bg-black/90 p-4 hover:bg-black/95 "
                    style="transition: all 1s ease-in;">
                    <h1 class="text-emerald-400 font-extrabold text-3xl mb-4">01</h1>
                    <h1 class="text-emerald-100 font-extrabold text-2xl mb-4 capitalize"> quality education</h1>

                    <p class="text-emerald-50 font-medium text-sm mt-8 leading-loose">
                        We focus on building and upgrading schools, providing scholarships, and implementing
                        programs that address barriers to education, such as lack of school supplies or
                        transportation.

                    </p>
                </div>
            </div>
            <div class="w-full h-full bg-[url('../img/meds.jpg')] bg-cover bg-center bg-no-repeat ">
                <div class="overlay w-full h-full bg-black/90 p-4 hover:bg-black/95 "
                    style="transition: all 1s ease-in;">

                    <h1 class="text-emerald-400 font-extrabold text-3xl mb-4">02</h1>
                    <h1 class="text-emerald-100 font-extrabold text-2xl mb-4 capitalize"> Healthcare Improvement</h1>

                    <p class="text-emerald-50 font-medium text-sm mt-8 leading-loose">
                        We work on establishing health clinics, organizing medical outreach programs, and promoting
                        preventive healthcare measures through community education.
                    </p>
                </div>
            </div>
            <div class="w-full h-full bg-[url('../img/oranges.jpg')] bg-cover bg-center bg-no-repeat ">
                <div class="overlay w-full h-full bg-black/90 p-4 hover:bg-black/95 "
                    style="transition: all 1s ease-in;">

                    <h1 class="text-emerald-400 font-extrabold text-3xl mb-4">03</h1>
                    <h1 class="text-emerald-100 font-extrabold text-2xl mb-4 capitalize"> Nutritional Support</h1>

                    <p class="text-emerald-50 font-medium text-sm mt-8 leading-loose">

                        We focus on reducing malnutrition rates among children and vulnerable populations by
                        implementing nutritional programs, distributing fortified food, and educating communities on
                        balanced diets and sustainable farming practices.

                    </p>

                </div>
            </div>
            <div class="w-full h-full bg-[url('../img/women.jpg')] bg-cover bg-center bg-no-repeat ">
                <div class="overlay w-full h-full bg-black/90 p-4 hover:bg-black/95 "
                    style="transition: all 1s ease-in;">
                    <h1 class="text-emerald-400 font-extrabold text-3xl mb-4">04</h1>
                    <h1 class="text-emerald-100 font-extrabold text-2xl mb-4 capitalize"> Women Empowerment</h1>

                    <p class="text-emerald-50 font-medium text-sm mt-8 leading-loose">

                        Our goal is to empower women in the targeted communities by fostering economic independence
                        and social equality.
                        We plan to achieve this by providing skill development training, promoting women
                        entrepreneurship, and advocating for gender equality in education and employment
                        opportunities.

                    </p>

                </div>
            </div>

            <div class="w-full h-full bg-[url('../img/builders.jpg')] bg-cover bg-center bg-no-repeat ">
                <div class="overlay w-full h-full bg-black/90 p-4 hover:bg-black/95 "
                    style="transition: all 1s ease-in;">
                    <h1 class="text-emerald-400 font-extrabold text-3xl mb-4">05</h1>
                    <h1 class="text-emerald-100 font-extrabold text-2xl mb-4 capitalize">Community Infrastructure
                        Development</h1>

                    <p class="text-emerald-50 font-medium text-sm mt-8 leading-loose">

                        Our goal is to enhance the overall living conditions in communities by developing essential
                        infrastructure. We aim to achieve this by building water and sanitation facilities,
                        improving housing conditions, and creating community spaces that foster social cohesion.

                    </p>

                </div>
            </div>
            <div class="w-full h-full bg-[url('../img/child.jpg')] bg-cover bg-center bg-no-repeat ">
                <div class="overlay w-full h-full bg-black/90 p-4 hover:bg-black/95 "
                    style="transition: all 1s ease-in;">
                    <h1 class="text-emerald-400 font-extrabold text-3xl mb-4">06</h1>
                    <h1 class="text-emerald-100 font-extrabold text-2xl mb-4 capitalize">Child Protection and Rights
                    </h1>

                    <p class="text-emerald-50 font-medium text-sm mt-8 leading-loose">

                        Our goal is to safeguard the rights and well-being of children in the targeted areas by
                        establishing child protection programs, advocating for and implementing child-friendly
                        policies, and creating awareness about child rights within communities.


                    </p>


                </div>
            </div>
            <div class="w-full h-full bg-[url('../img/disaster.jpg')] bg-cover bg-center bg-no-repeat ">
                <div class="overlay w-full h-full bg-black/90 p-4 hover:bg-black/95 "
                    style="transition: all 1s ease-in;">
                    <h1 class="text-emerald-400 font-extrabold text-3xl mb-4">07</h1>
                    <h1 class="text-emerald-100 font-extrabold text-2xl mb-4 capitalize">Disaster Preparedness and
                        Response
                    </h1>

                    <p class="text-emerald-50 font-medium text-sm mt-8 leading-loose">

                        Our goal is to increase community resilience and responsiveness to natural disasters and
                        emergencies by conducting training programs on disaster preparedness, developing early
                        warning systems, and establishing community-based emergency response teams.

                    </p>


                </div>
            </div>
            <div class="w-full h-full bg-[url('../img/policy.jpg')] bg-cover bg-center bg-no-repeat ">
                <div class="overlay w-full h-full bg-black/90 p-4 hover:bg-black/95 "
                    style="transition: all 1s ease-in;">

                    <h1 class="text-emerald-400 font-extrabold text-3xl mb-4">08</h1>
                    <h1 class="text-emerald-100 font-extrabold text-2xl mb-4 capitalize">Advocacy and Policy Influence
                    </h1>

                    <p class="text-emerald-50 font-medium text-sm mt-8 leading-loose">


                        Our goal is to advocate for policies that address the root causes of poverty and inequality
                        by engaging with policymakers, conducting research to inform policy decisions, and
                        mobilizing communities to actively participate in advocacy efforts.


                    </p>

                </div>
            </div>
            <div class="w-full h-full bg-[url('../img/greenhouse.jpg')] bg-cover bg-center bg-no-repeat ">
                <div class="overlay w-full h-full bg-black/90 p-4 hover:bg-black/95 "
                    style="transition: all 1s ease-in;">
                    <h1 class="text-emerald-400 font-extrabold text-3xl mb-4">09</h1>
                    <h1 class="text-emerald-100 font-extrabold text-2xl mb-4 capitalize">Sustainable Development
                    </h1>

                    <p class="text-emerald-50 font-medium text-sm mt-8 leading-loose">

                        Our goal is to promote sustainable development practices that protect the environment and
                        ensure long-term community well-being by integrating eco-friendly initiatives, supporting
                        sustainable agriculture, and raising awareness about environmental conservation.


                    </p>


                </div>
            </div>
        </div>
    </section>


    <section class="block py-6 px-2 h-max w-full min-h-96">


        <h1 class="text-2xl font-bold text-center mb-5 text-emerald-500">Subscribe to our Newsletter</h1>
        <form class="max-w-sm mx-auto" action="/index.php" method="POST">
            <div class="mb-5">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                    Name</label>
                <input type="text" id="name" name="name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
                    placeholder="John Doe" required />
            </div>
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                    Email</label>
                <input type="email" id="email" name="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
                    placeholder="name@example.com" required />
            </div>
            <button type="submit" name="submit"
                class="text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800">Subscribe</button>
        </form>

    </section>


    <footer class="bg-white h-max md:h-auto" id="footer">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="./" class="flex flex-col items-center sm:flex-row">

                        <span class="self-center text-lg font-semibold whitespace-nowrap ">Esafari</span>
                    </a>
                </div>
                <div class="grid grid-cols-1 gap-4 sm:gap-4 sm:grid-cols-1">
                    <h2 class="mb-3 text-sm font-semibold text-gray-900 uppercase ">Quick Links
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-2">
                            <a href="./" class="hover:underline text-xs sm:text-xs">Home</a>
                        </li>
                        <li class="mb-2">
                            <a href="#about" class="hover:underline text-xs sm:text-xs">About</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://donate.stripe.com/cN2bJh0OD4UN6dyfYY"
                                class="hover:underline text-xs sm:text-xs">Donate</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="hover:underline text-xs sm:text-xs">Projects</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ">Reach Out
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-2">
                            <a href="#" class="hover:underline text-xs sm:text-xs">
                                <i class="fas fa-phone-alt mx-3 text-md"></i>
                                +233 246721033 (Ghana) <br>
                                +1(571)660-8278 (U.S)
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="hover:underline text-xs sm:text-xs"> <i
                                    class="fas fa-building mx-3 text-md"></i>
                                P.O.Box 21 ,Dansoman Estate.
                                Ghana.
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="hover:underline text-xs sm:text-xs"> <i
                                    class="fas fa-map-marker mx-3 text-md"></i>
                                3314 Williams Johnston ln Dumfries VA 22026 U.S.A
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="hover:underline text-xs sm:text-xs">
                                <i class="far fa-envelope mx-3 text-md"></i>
                                mail@testimonygenesidfoundation.org

                            </a>
                        </li>
                    </ul>
                </div>
                <div>

                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between px-4 py-4">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="#"
                    class="hover:underline">Esafari</a> All Rights Reserved.
            </span>

        </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>
