<!-- templates/login.html -->
{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
      <div class="max-w-md mx-auto">
        <div class="flex items-center space-x-5">
          <div class="h-14 w-14 bg-blue-500 rounded-full flex flex-shrink-0 justify-center items-center text-white text-2xl font-mono">EV</div>
          <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
            <h2 class="leading-relaxed">Login to EV Lending</h2>
          </div>
        </div>
        
        <div class="divide-y divide-gray-200">
          <form method="post" action="{% url 'login' %}" class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
              <span class="block sm:inline">{{ form.non_field_errors }}</span>
            </div>
            {% endif %}
            
            <div class="flex flex-col">
              <label class="leading-loose">Email</label>
              {{ form.email }}
              <span class="text-red-500 text-xs">{{ form.email.errors }}</span>
            </div>
            
            <div class="flex flex-col">
              <label class="leading-loose">Password</label>
              {{ form.password }}
              <span class="text-red-500 text-xs">{{ form.password.errors }}</span>
            </div>
            
            <div class="pt-4 flex items-center space-x-4">
              <button type="submit" class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none hover:bg-blue-600">
                Log In
              </button>
            </div>
          </form>
          
          <div class="pt-4 flex items-center space-x-4">
            <a href="{% url 'register' %}" class="flex justify-center items-center w-full text-gray-900 px-4 py-3 rounded-md focus:outline-none">
              <span>Don't have an account? Register</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}